@import "variables.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*estilos generales*/
.principal{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    color: $color-terciaria;
    background-color: $color-secundaria;

    display: grid;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "footer"
    ;
}

/*estilo del header*/
header{
    grid-area: header;

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    

}

.imagen{
    text-align: center;
}



/*estilos del menu de navegacion*/
nav{
    grid-area: nav;

    background-color: $color-secundaria;
    
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    z-index: 2;

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;

        li{
            display: inline-block;

            a{
                color: $color-terciaria;
                text-decoration: none;
                display: block;
                padding: 27px;
                
            }

            a:hover{
                background-color: $color-principal;
                color: $color-terciaria;
            }
        }
    }

}

.logo{
    display: flex;
    align-items: center;
    margin: 0px;
}


/* configuraciones de los cards de planes y precios*/
.card{
    text-align: center;
}

.card-body{
    background-color: $color-principal;
    text-align: center;
}

.card-title{
    font-size: 24px;
}


/*configuracion del boton de menu responsive*/
.checkbtn{
    font-size: 30px;
    color: $color-principal;
    float: left;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}



/*estilos del contenido de la pagina*/
main{
    grid-area: main;
    
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

}


/*configuracion de los titulos de wods*/
.title-wod{
    text-align: center;
    box-shadow: 0px 0px 16px 16px $color-principal;
}


/*configuracion de los titulos del home*/
.head-h1{
    text-align: center;
}


/*configuracion del margin de home*/
.texto{
    margin: 50px;
}

/*configuracion del titulo del home*/
.home-text{
    box-shadow: 0px 0px 16px 16px $color-principal;
    width: 850px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}


/*responsive del titulo del home*/
@media (max-width: 858px){
    
    .home-text{
        box-shadow: 0px 0px 16px 16px $color-principal;
        width: 400px;
        padding: 20px;
    
    }

}

/*estilos del footer*/
footer{
    grid-area: footer;

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;

}

.redes{
    align-items: center;
    justify-content:center;
}

/* Centralizacion de texto de las paginas*/
.texto{
    text-align: center;
    padding: 30px;
}


/*Formulario*/
.content{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.8em;
}

.contact-wrapper{
    box-shadow: 0 0 20px 0 $color-principal;
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form form{
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: $color-terciaria;
    border-bottom: 1px solid $color-principal;
}

.contact-form form button{
    background: $color-principal;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}


.table-title{
    text-align: center;
}


/*ajustes de la tabla*/
.table-responsive{
    width: 100%;
    margin: auto;
    max-width: 1000px;
}

.table{
    text-align: center;
    width: 100%;
    border: 3px solid $color-principal;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.table caption{
    font-size: 28px;
    text-transform: uppercase;
    margin: 8px 0;
}

.table tr{
    color: $color-terciaria;
    background-color: $color-secundaria;
    border: 2px solid $color-principal;
}

.tableo th, .table td{
    padding: 8px;
    text-align: center;
}

.table thead th{
    text-transform: uppercase;
    background-color: $color-principal;
}

.table tbody tr:hover{
    background-color: $color-principal;
}

.table tbody td:hover{
    background-color: $color-secundaria;
}

.table-responsive{
    text-align: center;
    padding: 10px;
}



/*responsive menu navegacion*/
@media (max-width: 952px){
    .enlace{
        padding-right: 20px;
        margin: 20px;
    }

    nav ul li a{
        font-size: 16px;
    }
}


@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: $color-principal;
        top: 120px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover{
        background: none;
        color: $color-secundaria;
    }

    #check:checked ~ ul{
        left: 0;
    }
}



@media (max-width: 600px){
    main{
        
        display: block;
        align-items: center;
        justify-content: center;
    
    }
    
}

// mapas
$headings: (
    h1: 45px,
    h2: 35px,
    h3: 15px,
);

@each $head, $size in $headings {
    .head-#{$head} {
        font-size: $size;
    }
}


// mixin
@mixin size ($alto, $ancho) {
    height: $alto;
    width: $ancho;
}

